@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Cooper;
  src: url('../assets/fonts/CooperBlack/CooperBlack.ttf') format('openType');
}

@font-face {
  font-family: Amiko;
  src: url('../assets/fonts/Amiko/Amiko-Regular.ttf') format('openType');
}

@font-face {
  font-family: AmikoSemiBold;
  src: url('../assets/fonts/Amiko/Amiko-SemiBold.ttf') format('openType');
}

@font-face {
  font-family: AmikoBold;
  src: url('../assets/fonts/Amiko/Amiko-Bold.ttf') format('openType');
}

// variables
:root {
  --color-background: #F8F8F8;
  --color-title: #C80100;
  --color-text: #8C1F1E;
  --color-grey-1: #808080;
  --color-grey-2: #C6C6C6;
}

body {
  background-color: var(--color-background);
  font-family: Amiko, 'sans-serif';
  color: var(--color-text);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.lock-scroll {
  height: 100%;
  overflow: hidden;
}
