@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Cooper;
  src: url('../assets/fonts/CooperBlack/CooperBlack.ttf') format('openType');
}

@font-face {
  font-family: Amiko;
  src: url('../assets/fonts/Amiko/Amiko-Regular.ttf') format('openType');
}

@font-face {
  font-family: AmikoSemiBold;
  src: url('../assets/fonts/Amiko/Amiko-SemiBold.ttf') format('openType');
}

@font-face {
  font-family: AmikoBold;
  src: url('../assets/fonts/Amiko/Amiko-Bold.ttf') format('openType');
}

 #root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #F8F8F8;
  font-family: Amiko, 'sans-serif';
  color: #8C1F1E;
}

.lock-scroll {
  height: 100%;
  overflow: hidden;
}
