.carousel{
  width: 70vw;
  margin: 0 auto;
}

.image {
  width: 70vw;
  height: auto;
  -webkit-box-shadow: -9px 16px 40px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -9px 16px 40px rgba(0, 0, 0, 0.4);
  box-shadow: -9px 16px 40px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

@media only screen and (min-width: 600px) {
  .carousel {
    width: 50vw;
  }

  .image {
    width: 50vw;
  }
}

@media only screen and (min-width: 1280px) {
  .carousel {
    width: 35vw;
  }

  .image {
    width: 35vw;
  }
}

@media only screen and (min-width: 1550px) {
  .carousel {
    width: 30vw;
  }

  .image {
    width: 30vw;
  }
}
