.home-carousel{
  width: 70vw;
  margin: 0 auto;
  min-height: 71vw;
}

.villa-carousel{
  width: 70vw;
  margin: 0 auto;
  min-height: 48vw;
}

.image {
  width: 70vw;
  -webkit-box-shadow: -9px 16px 40px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: -9px 16px 40px rgba(0, 0, 0, 0.4);
  box-shadow: -9px 16px 40px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

@media only screen and (min-width: 600px) {
  .home-carousel {
    width: 50vw;
    min-height: 51vw;
  }

  .villa-carousel {
    width: 50vw;
    min-height: 34vw;
  }

  .image {
    width: 50vw;
  }
}

@media only screen and (min-width: 1280px) {
  .home-carousel {
    width: 35vw;
    min-height: 36vw;
  }

  .villa-carousel {
    width: 35vw;
    min-height: 24vw;
  }

  .image {
    width: 35vw;
  }
}

@media only screen and (min-width: 1550px) {
  .home-carousel {
    width: 30vw;
    min-height: 31vw;
  }

  .villa-carousel {
    width: 30vw;
    min-height: 21vw;
  }

  .image {
    width: 30vw;
  }
}
