.App {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .main-nav {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .mobile-nav {
    display: none;
  }
}
